@import "tailwindcss";

/* Reseteo para asegurar pantalla completa y fondo repetitivo */
html, body, #root {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
  /* 1. Tu color base (actúa como fondo detrás de la imagen) */
  background-color: #f4ebe9; 
  

  background-image: url('/bg-pattern.png');
  
  /* 3. Le decimos que se repita en todas direcciones */
  background-repeat: repeat;
  
  /* 4. (Opcional) Si sientes que el logo se ve muy grande en la web, 
        puedes forzar el tamaño de la baldosa aquí: */
  background-size: 300px; 
}
